<section>
  <form [formGroup]="infoInput" (ngSubmit)="handleSubmitLogin()">
    <h2>Sign in</h2>
    <div>
      <label for="email">Correo Electronico</label>
      <input type="email" name="email" id="email" formControlName="email">
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" formControlName="password">
    </div>

    <button type="submit">Inicia sesión</button>
  </form>

  @if (isLoginError) {
  <div>
    <p>Usuario no registrado</p>
    <button (click)="toggleErrorLogin()">Cerrar</button>
  </div>
  }
</section>
