<section class="min-h-screen min-w-screen flex flex-col justify-center items-center bg-slate-200 relative">
  <form [formGroup]="infoInput" (ngSubmit)="handleSubmitLogin()" class="container
    w-80 mx-auto px-4 flex flex-col gap-y-2 items-center border-solid
     border-2 rounded-md border-gray-500 h-96 justify-around bg-white
     shadow-lg
     ">
    <h2 class="text-2xl font-bold">Sign in</h2>

    <div class="flex flex-col ">
      <div class="flex flex-col gap-y-2 mb-3">
        <input type="email" formControlName="email" placeholder="Correo electronico"
          class="h-10 border-solid border-2 rounded-md px-3 border-gray-500">
          @if(infoInput.controls['email'].errors?.['required'] && (infoInput.controls['email'].touched || infoInput.controls['email'].dirty)){
            <span class="text-rose-700">Este campo es requerido</span>
          }
      </div>

      <div class="flex flex-col gap-y-2 mb-3">
        <input type="password" formControlName="password" placeholder="Contraseña"
          class="h-10 border-solid border-2 rounded-md px-3 border-gray-500">

          @if(infoInput.controls['password'].errors?.['required'] && (infoInput.controls['password'].touched || infoInput.controls['password'].dirty)){
            <span class="text-rose-700">Este campo es requerido</span>
          }
      </div>
    </div>

    @if(isLoginError){
      <span class="text-rose-700">Usuario no registrado</span>
    }

    <button class="w-10/12 h-10 bg-slate-700 rounded-md text-white" type="submit">Inicia sesión</button>
  </form>
</section>
