<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 justify-center my-5v relative min-h-screen">
  @if(tokenLongin === 'vhlBGDIa3sWDT0xtXF'){
    <div (click)="openModal()" class="mx-auto mt-5 w-56 h-10 bg-slate-700 rounded-md text-white flex items-center justify-center cursor-pointer">Agregar Nuevo Producto</div>
  }

  @for (product of products; track $index) {
    <app-card-product
      [infoProduct]="product"
    />
  }

  @if(modalOpen){
    <div class="absolute z-10 w-full h-full bg-[#0f172ae8] flex flex-col justify-center items-center">
      <app-manage-product [isOpenModal]="modalOpen" (closeModalEvent)="closeModal()" (addProductEvent)="addProduct($event)"/>
    </div>
  }

</section>
