<div class="border-2 border-slate-600 rounded shadow p-4 max-w-sm">
  <h2>{{infoProduct.name}}</h2>
  <p>{{infoProduct.description}}</p>
  <p>{{infoProduct.price}}</p>

  @if(tokenLongin === 'vhlBGDIa3sWDT0xtXF'){
  <div class="flex justify-end gap-2 ">
    <div  class="cursor-pointer">
      <img class="w-6" src="/assets/icons/edit.png" alt="edit">
    </div>
    <div (click)="deleteProduct()" class="cursor-pointer">
      <img class="w-6" src="/assets/icons/delete.png" alt="delete">
    </div>
  </div>
  }
</div>
